[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hydra-core = "*"
dagshub = "*"
mlflow = "*"
dvc = "*"
ydata-profiling = "*"
shape = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
jupyterlab = "*"
